<article id="post-{{ post.ID }}" class="{{ post.post_class }}">
	{% if not function('twentynineteen_can_show_post_thumbnail', post) %}
		<header class="entry-header">
			{% include "header/entry-header.twig" with { post: post } only %}
		</header>
	{% endif %}

	<div class="entry-content">
		{{ post.content }}

		{{ function('wp_link_pages', {
				'before' : '<div class="page-links">' ~ __( 'Pages:', 'twentynineteen' ),
				'after'  : '</div>',
			 })
		}}
	</div><!-- .entry-content -->

	{% if function('get_edit_post_link') %}
		<footer class="entry-footer">
			{% set edit = __( 'Edit <span class="screen-reader-text">%s</span>', 'twentynineteen' )|format(post.title) %}
			{{ function('edit_post_link', edit, '<span class="edit-link">', '</span>') }}
		</footer><!-- .entry-footer -->
	{% endif %}

</article><!-- #post-{{ post.id }} -->
