<article id="post-{{ post.ID }}" class="{{ post.post_class }}">
	{% if not twentynineteen_can_show_post_thumbnail() %}
		<header class="entry-header">
			{% include "header/entry-header.twig" with { post: post } only %}
		</header><!-- .entry-header -->
	{% endif %}

	<div class="entry-content">
		{{
		  function('the_content',
		    __( 'Continue reading<span class="screen-reader-text"> "%s"</span>', 'twentyseventeen' )|format(post.title),
		    post.ID
		  )
		}}

		{{ function('wp_link_pages', {
		    'before' : '<div class="page-links">' ~ __( 'Pages:', 'twentynineteen' ),
		    'after'  : '</div>',
		   }, post.ID)
		}}
	</div><!-- .entry-content -->

	<footer class="entry-footer">
		{{ function('twentynineteen_entry_footer') }}
	</footer><!-- .entry-footer -->

	{% if not function('is_singular', 'attachment') %}
		{% include 'post/author-bio.twig' %}
	{% endif %}

</article><!-- #post-{{ post.id }} -->
