{% include "footer/footer-widgets.twig" %}

<div class="site-info">
  {% if site.name|length > 0 %}
    <a class="site-name" href="{{ function('home_url', '/')|e('esc_url') }}" rel="home">{{ site.name }}</a>,
  {% endif %}
  <a href="{{ __( 'https://wordpress.org/', 'twentynineteen' )|e('esc_url') }}" class="imprint">
    {{ __( 'Proudly powered by %s.', 'twentynineteen' )|format('WordPress') }}
  </a>

  {% if function('function_exists', 'the_privacy_policy_link') %}
    {{ function('the_privacy_policy_link', '', '<span role="separator" aria-hidden="true"></span>') }}
  {% endif %}

  {% if function('has_nav_menu', 'footer') %}
    <nav class="footer-navigation" aria-label="{{__( 'Footer Menu', 'twentynineteen' )| e('html_attr') }}">
      {{ function('wp_nav_menu', {
        'theme_location' : 'footer',
        'menu_class'     : 'footer-menu',
        'depth'          : 1,
      }) }}
    </nav>
  {% endif %}
</div><!-- .site-info -->
